<!doctype html>
<title>CCPP Astrocoffee</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>CCPP Astrocoffee</h1>
  <p>
  Too bad.
  </p>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% if flash %}<p class=flash><strong>We got you:</strong> {{ flash }}{% endif %}
  <form action="{{ url_for('decline') }}" method=post>
    <dl>
      <dt>I can't present until: (format MMDD)
      <dd><input type=text name=date>
      <dd><input type=submit value=Submit>
    </dl>
  </form>
  {% block body %}{% endblock %}
</div>